body, h1, h2, h3, p, ul, ol {
    margin: 0;
    padding: 0;
    list-style: none;
}

main {
    background-color: #000000;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    position: relative;
}

.content {
    border-left: 2px solid #353A47;
    max-width: 1400px;
    width: 100%;
    height: 100vh;
    background-color: #002626;
    margin: 0 auto;
}

.navigation {
    border-bottom: 2px solid #353A47;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 50px;
    padding: 0 35px;
}

li {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    font-size: 16px;
    color: #cccccc;
    padding: 10px 35px;
    border-bottom: 2px dashed #353A47;
    transition: .3s;
    display: flex;
    align-items: center;
}

li h3 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: 600;
    margin: 0 0 0 15px;
}

li p {
    margin: 0 0 0 15px;
}

li img {
    width: 25px;
    height: 25px;
}

li.active {
    color: #353A47;
    background: #cccccc;
}

.btn {
    color: #fff;
    border: 1px solid #fff;
    border-radius: 15px;
    margin: 0 5px;
}

.btn:hover {
    color: #95C623;
    border: 1px solid #95C623;
}

.folder_list {
    height: 0px;
    transition: .3s;
    overflow: hidden;
    width: 100%;
    background: #002626;
    border: 1px solid #000000;
    opacity: 0;
}

.folder_list.opened {
    height: 100%;
    display: block;
    overflow: initial;
    opacity: 1;
}

.folder {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.deleted {
    display: none !important;
}

.description {
    display: flex;
    align-items: center;
}

.folder_content {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}

.edit-btn {
    background: #fff;
    border: 1px solid #5D9FD8;
    transition: .3s;
}

.delete-btn {
    border: 1px solid #EA2E33;
    background: #fff;
    transition: .3s;
}

.edit-btn:hover, .delete-btn:hover {
    background: transparent;
    border: 1px solid transparent;
}

.buttons_group {
    transition: .3s;
    z-index: 1;
}

.buttons_group.disabled {
    opacity: 0;
}

.modal {
    position: fixed;
    top: 30%;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    display: flex;
    max-width: 300px;
    height: 150px;
    background: #fff;
}

.modal form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 100%;
    height: 100%;
}

.modal input {
    margin: 15px 0;
}

.modal input[type="text"] {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 16px;
    font-weight: 600;
    padding: 0 15px;
}

.close_modal {
    width: 20px;
    height: 20px;
    position: absolute;
    right: 5px;
    left: auto;
    top: 5px;
    bottom: auto;
    cursor: pointer;
}

.arrow_content {
    cursor: pointer;
    width: 25px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.drop_arrow {
    clip-path: polygon(50% 100%, 0 0, 100% 0);
    background: rgba(255, 255, 255, 0.7);
    width: 8px;
    height: 8px;
    vertical-align: middle;
    transition: .3s;
    transform: none;
}

.active_arrow {
    transform: rotate(180deg);
    background: rgba(000, 000, 000, 0.7);
}